{% extends "babybuddy/base.html" %}
{% load i18n static widget_tweaks %}
{% block breadcrumb_nav %}{% endblock %}
{% block page %}
    <div id="view-{{ request.resolver_match.view_name }}" class="babyb-auth">
        <div class="babyb-auth-orb" aria-hidden="true"></div>
        <div class="babyb-auth-inner">
            <div class="babyb-auth-head">
                <img src="{% static "babybuddy/logo/icon-brand.png" %}"
                     width="60"
                     height="60"
                     class="babyb-auth-logo"
                     alt="">
                <h1 class="babyb-auth-title">
                    <span class="text-primary">Baby</span> Saliba
                </h1>
                <p class="babyb-auth-sub">{% trans "Welcome back; sign in to keep tracking." %}</p>
            </div>
            <div class="babyb-auth-card">
                {% include 'babybuddy/messages.html' %}
                {% block content %}{% endblock %}
            </div>
            {% block below_card %}{% endblock %}
        </div>
    </div>
{% endblock %}
