{% extends 'babybuddy/page.html' %}
{% load breadcrumb cards i18n %}
{% block title %}
    {% trans "Dashboard" %} - {{ object }}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:child-list' %}">{% trans "Children" %}</a>
    </li>
    <li class="breadcrumb-item fw-bold">{% child_quick_switch object 'dashboard:dashboard-child' %}</li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Dashboard" %}</li>
{% endblock %}
{% block content %}
    {% include 'dashboard/page_head.html' %}
    <div id="dashboard-child" class="babyb-dashboard">
        {% include 'dashboard/_quick_log.html' %}
        {% card_timer_list object %}
        <div class="babyb-status-strip">
            {% card_feeding_last object %}
            {% card_diaperchange_last object %}
            {% card_sleep_last object %}
            {% card_pumping_last object %}
            {% card_medication_last object %}
            {% card_tummytime_day object %}
        </div>
        <div class="babyb-dashboard-columns">
            {% include 'dashboard/_today.html' %}
            {% card_trends object %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">BabyBuddy.DashboardTrends.init();</script>
    {% if user.settings.dashboard_refresh_rate %}
        <script type="application/javascript">
            BabyBuddy.Dashboard.watch('dashboard-child', {{ user.settings.dashboard_refresh_rate_milliseconds }});
        </script>
    {% else %}
        <script type="application/javascript">BabyBuddy.Dashboard.watch('dashboard-child', false);</script>
    {% endif %}
{% endblock %}
