{% extends 'cards/status_base.html' %}
{% load duration i18n %}
{% block link %}
    {% url "core:pumping-list" %}
{% endblock %}
{% block label %}
    {% trans "Pumping" %}
{% endblock %}
{% block value %}
    {% if pumping %}
        {{ status.elapsed }}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block sub %}
    {% if pumping %}
        {% blocktrans trimmed with time=pumping.start|time %}
            ago · {{ time }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}
{% block meta %}
    {% if pumping %}
        {% blocktrans trimmed with amount=pumping.amount|floatformat:"0g" %}
            {{ amount }} mL
        {% endblocktrans %}
    {% endif %}
{% endblock %}
