{% extends 'cards/status_base.html' %}
{% load duration i18n %}
{% block link %}
    {% url "core:sleep-list" %}
{% endblock %}
{% block label %}
    {% trans "Sleep" %}
{% endblock %}
{% block note_tone %}babyb-tone--ok{% endblock %}
{% block note %}
    {% if sleep %}
        {% trans "Awake" %}
    {% endif %}
{% endblock %}
{% block value %}
    {% if sleep %}
        {{ status.elapsed }}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block sub %}
    {% if sleep %}
        {% blocktrans trimmed with time=sleep.end|time %}
            awake · since {{ time }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}
{% block meta %}
    {% if sleep %}
        {% blocktrans trimmed with duration=sleep.duration|duration_string:'m' %}
            Last sleep {{ duration }}
        {% endblocktrans %}
        {% if status.interval %}
            <span class="babyb-status-meta-line">
                {% blocktrans trimmed with gap=status.interval %}
                    usually awake {{ gap }}
                {% endblocktrans %}
            </span>
        {% endif %}
    {% endif %}
{% endblock %}
