{% load duration i18n %}
{% if instances %}
    <div class="babyb-timers">
        {% for timer in instances %}
            <a class="babyb-timer-running"
               href="{% url 'core:timer-detail' timer.id %}">
                <span class="babyb-timer-running-dot" aria-hidden="true"></span>
                <span class="babyb-timer-running-name">{{ timer.title_with_child }}</span>
                <span class="babyb-timer-running-time">{{ timer.duration|duration_string:'m' }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}
